@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #222;
    padding: 2rem;
    background-color: #777;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.campo {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;

    label {
        flex: 0 0 12rem;
        color: #fff;
        font-weight: 700;
        font-size: 1.8rem;
    }

    input {
        flex: 1;
        border: 2px solid #555;
        padding: calc(v.$separacion/4);
        border-radius: 1rem;
        outline: none;

        &:disabled {
            background-color: lighten(v.$negro, 20%);
            color: v.$blanco;
            cursor: not-allowed;
        }
    }

    select {
        width: 100%;
        color: #000;
        background-color: #fff;
        padding: calc(v.$separacion/4);
        border-radius: 1rem;
        font-weight: 500;
        border: 2px solid #555;
    }
}

.campo-select {
    display: flex;
    justify-content: space-around;

    .c-zona {
        select {
            text-transform: uppercase;
        }
    }

    select {
        width: auto;
    }
}

.campo-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .campo {
        margin: 0;
    }
    
    label {
        flex: 0 0 auto;
    }

    input {
        width: 20rem;
        border: 2px solid #555;
        padding: calc(1rem);
        border-radius: 1rem;
        outline: none;
    }
}

.boton-agregar {
    background-color: v.$azul;
    display: inline-block;
    font-size: 3rem;
    font-weight: 700;
    padding: 0 0.4rem;
    cursor: pointer;
    line-height: 1;
}