// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$celeste: #45bcf8;
$azul: #3194FF;
$rojo: #cb0000;
$verde-oscuro:#246b03;
$verde-claro: #1af41f;
$rosa: #DD87F7;
$amarillo: #EFEF7D;
$naranja: #FDA70A;
$morado: #8B3AFD;

$negro: #1a1b15;
$blanco: #FFFFFF;
$gris-claro: #d1d1d1;
$gris-oscuro: #616161;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900