@use 'base/mixins' as m;
@use 'base/variables' as v;

.clientes {
    padding-bottom: 4rem;

    /*Index*/

    &__index {
        @include m.contenedor;
    }

    &__lista {
        @include m.grid(3, 2rem);
        padding: 0;
        list-style: none;

        .lista__li {
            height: auto;
            background-color: #444;
            padding: 0 3rem;
            padding-top: 0;
            border-radius: 1rem;
            border: 4px solid v.$azul;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .li__info {
                text-align: center;

                p {
                    font-weight: 700;
                    color: v.$azul;
                    font-size: 2rem;

                    span {
                        font-weight: 400;
                        color: v.$blanco;
                        font-size: 1.8rem;
                    }
                }

                &--icon {
                    background-color: v.$azul;
                    margin: 0 auto;
                    width: 4rem;
                    text-align: center;
                    border-radius: .5rem;
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                    cursor: pointer;

                    i {
                        color: v.$blanco;
                    }
                }
            }

            .li__acciones {
                margin: 0 auto;
                padding: 1.2rem 0;

                @include m.tablet {
                    display: flex;
                    justify-content: space-around;
                    gap: 3rem;
                    align-items: center;
                }

                a {
                    @include m.boton(v.$azul, v.$blanco);
                    color: v.$blanco;
                    display: block;
                    margin-bottom: 0;
                    text-align: center;
                }

                .acciones--div__input {
                    @include m.boton(v.$rojo, v.$blanco);
                    margin: 0;
                }
            }
        }

    }

    /*Crear*/

    &__crear {
        @include m.contenedor-md;
    }

    &__a {
        @include m.boton(v.$naranja, v.$blanco);
    }

    &__form {
        background-color: v.$negro;
        border-radius: .5rem;
        padding: 2rem;
        text-align: center;

        &--campo {
            display: flex;
            gap: 2rem;
            align-items: center;
            margin-bottom: .6rem;

            label {
                flex: 0 0 12rem;
                text-align: right;
                font-weight: 700;
                text-transform: uppercase;
            }

            input,
            select {
                width: 100%;
                padding: .4rem;
                border-radius: .5rem;
                outline: none;
                background-color: v.$gris-claro;
                font-weight: 700;
            }

            select {
                background-color: lighten(v.$gris-claro, 20%);
                cursor: pointer;
            }

        }

        &--boton {
            @include m.boton(v.$azul, v.$blanco);
            margin: 0;
            margin-top: 1rem;
        }
    }

    /*Modal*/

    .modal {
        position: fixed;
        background-color: rgb(0, 0, 0, .8);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    
        .clientes__form {
            max-width: 60rem;
            background-color: v.$blanco;
            padding: 2rem;
            margin: 0 auto;
            transform: translateY(-30rem);
            transition-property: all;
            transition-duration: 500ms;
            transition-timing-function: ease;
            opacity: 0;
            border-radius: 1rem;

            &--campo {
                display: flex;
                gap: 2rem;
                align-items: center;
                margin-bottom: .6rem;
    
                label {
                    flex: 0 0 12rem;
                    text-align: right;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: v.$negro;
                }
    
                input, textarea {
                    width: 100%;
                    padding: .4rem;
                    border-radius: .5rem;
                    outline: none;
                    background-color: v.$gris-claro;
                    font-weight: 700;
                }
    
                textarea {
                    resize: none;
                }
    
            }
    
            legend {
                font-size: 2rem;
                text-align: center;
                font-weight: bold;
                margin-bottom: 2rem;
                display: block;
                color: v.$negro;
            }
    
            .cerrar-modal {
                @include m.boton(v.$naranja, v.$blanco);
                margin: 0;
                margin-top: 1rem;

                @include m.tablet {
                    width: 100%;
                }
            }
    
            &.animar {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                opacity: 1;
            }
    
            &.cerrar {
                transform: translateY(-200%);
                opacity: 0;
            }
        }
    }

}